dist/
.output/
.vercel/
.netlify/

.astro/

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.production
.env*.local

.DS_Store

.vscode/*
!.vscode/extensions.json
.idea/

references/
ai.md

*.lockb
*.lock
*-lock
*lock.json

*.db
*.db-shm
*.db-wal
